<!DOCTYPE html>
<html>
  <head>
    <title>LISt</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Todos</h1>
    <p>Welcome to todos List inside folder</p>
    <%= todos %>
  </body>
</html>
